@charset "UTF-8";
/** ==== FONTS / Typography====**/
/** ====  MIXINS ====**/
/** ==== COLORS ====**/
.full-width {
  width: 100%;
}

.background-primary {
  background-color: #007cff !important;
  color: white !important;
}

.background-success {
  background-color: #43a435 !important;
  color: white !important;
}

.background-danger {
  background-color: #c45151 !important;
  color: white !important;
}

.background-warning {
  background-color: #d98b47 !important;
  color: white !important;
}

.background-info {
  background-color: #d5db26 !important;
  color: white !important;
}

.background-secondary {
  background-color: #949494 !important;
  color: white !important;
}

.text-primary {
  color: #007cff !important;
}

.text-success {
  color: #43a435 !important;
}

.text-danger {
  color: #c45151 !important;
}

.text-warning {
  color: #d98b47 !important;
}

.text-info {
  color: #d5db26 !important;
}

.text-secondary {
  color: #949494 !important;
}

html body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font: 100% "Lato", Helvetica, sans-serif;
  background-color: #e0e5ec;
}

* {
  color: #333447;
  line-height: 1.5;
}

hr  {
  color: black;
}

.btn {
  background-color: #e1e1e1;
  border: none;
  padding: 5px 25px 5px 25px;
  border-radius: 5px;
  font-size: 80%;
  border: 1px solid #dfdfdf;
  margin: 5px;
  transition: 0.5s;
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn:active {
  cursor: pointer;
  opacity: 0.2;
}

.btn-primary {
  background-color: #007cff;
  color: white;
}

.btn-success {
  background-color: #43a435;
  color: white;
}

.btn-danger {
  background-color: #c45151;
  color: white;
}

.btn-warning {
  background-color: #d98b47;
  color: white;
}

.btn-info {
  background-color: #d5db26;
  color: white;
}


.btn-secondary {
  background-color: #949494;
  color: white;
}

.loader > i {
  padding: 5px 5px;
  /* Some padding */
  color: white;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}

.section {
  margin: 25px 0 55px 0;
}

.row:after {
  display: block;
  clear: both;
  content: "";
}

.row + .row {
  margin-top: 1%;
}

[class^=col-] {
  float: left;
  margin-right: 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class^=col-]:last-child {
  margin-right: 0%;
}

/*
.col-1 { width:5.583333333333333%; }
.col-2 { width:14.16666666666667%; }
.col-3 { width:22.75%; }
.col-4 { width:31.33333333333333%; }
.col-5 { width:39.91666666666667%; }
.col-6 { width:48.5%; }
.col-7 { width:57.08333333333333%; }
.col-8 { width:65.66666666666666%; }
.col-9 { width:74.25%; }
.col-10 { width:82.83333333333333%; }
.col-11 { width:91.41666666666666%; }
.col-12 { width:100%; }
*/
.col-1 {
  width: 7.4166666667%;
}

.col-2 {
  width: 15.8333333333%;
}

.col-3 {
  width: 24.25%;
}

.col-4 {
  width: 32.6666666667%;
}

.col-5 {
  width: 41.0833333333%;
}

.col-6 {
  width: 49.5%;
}

.col-7 {
  width: 57.9166666667%;
}

.col-8 {
  width: 66.3333333333%;
}

.col-9 {
  width: 74.75%;
}

.col-10 {
  width: 83.1666666667%;
}

.col-11 {
  width: 91.5833333333%;
}

.col-12 {
  width: 100%;
}

.card {
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 9px 15px 9px 15px;
  margin-bottom: 15px;
}

.card-body {
  padding-top: 9px;
  font-size: 90%;
  padding-bottom: 5px;
}

.card-options {
  position: relative;
  bottom: 0;
  margin-top: 15px;
  padding-top: 10px;
}

.title {
  line-height: 1.5;
  margin-top: 5px;
  font-size: 33px;
  margin-bottom: 5px;
}

.subtitle {
  line-height: 1;
  margin-bottom: 15px;
  font-weight: lighter;
  font-size: 22px;
}

.paragraph {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/** Text sizing **/
.size-1 {
  font-size: 3rem;
}

.size-2 {
  font-size: 2.5rem;
}

.size-3 {
  font-size: 2rem;
}

.size-4 {
  font-size: 1.5rem;
}

.size-5 {
  font-size: 1.25rem;
}

.size-6 {
  font-size: 1rem;
}

.size-7 {
  font-size: 0.75rem;
}

/** Text position **/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.text-justify {
  text-align: justify;
}

nav {
  background-color: #f7f7f7;
  display: flex;
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.logo {
  width: 100%;
  padding-left: 1rem;
  font-size: 130%;
  color: #333447;
}

.menu {
  width: 100%;
  text-align: right;
  padding-right: 1rem;
  padding-top: 5px;
}

.menu a {
  text-decoration: none;
  padding: 0 7px 0 7px;
  font-size: 80%;
  color: #333447;
  transition: 0.2s;
}

.menu a:hover {
  color: #7c6ce3;
}

.menu-mobile {
  display: none;
}

.menu-mobile i {
  color: white;
}

@media only screen and (max-width: 600px) {
  body .menu {
    display: none;
  }
  body .menu-mobile {
    display: block;
    margin-right: 20px;
    padding-top: 5px;
  }
  body .menu-mobile:hover i {
    cursor: pointer;
    color: #7c6ce3;
  }
  body .menu-mobile:active i {
    opacity: 0.8;
    transition: 0.1s;
  }
}
/** ==== INPUT ==== **/
.input {
  font-size: 100%;
  border-radius: 5px;
  padding-left: 7px;
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  border: 1px solid #c8c8c8;
}

.input-primary {
  font-size: 100%;
  border-radius: 5px;
  padding-left: 7px;
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  border: 1px solid #007cff;
}

.input-success {
  font-size: 100%;
  border-radius: 5px;
  padding-left: 7px;
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  border: 1px solid #43a435;
}

.input-danger {
  font-size: 100%;
  border-radius: 5px;
  padding-left: 7px;
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  border: 1px solid #c45151;
}

.input-warning {
  font-size: 100%;
  border-radius: 5px;
  padding-left: 7px;
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  border: 1px solid #d98b47;
}

.input-info {
  font-size: 100%;
  border-radius: 5px;
  padding-left: 7px;
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  border: 1px solid #d5db26;
}

.input-secondary {
  font-size: 100%;
  border-radius: 5px;
  padding-left: 7px;
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  border: 1px solid #949494;
}

input:focus {
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.194);
}

/** ==== TEXTAREA ==== **/
textarea {
  box-shadow: none;
  border-radius: 5px;
}

/** ==== INPUT GROUP ==== **/
.input-group {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.modal {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  display: none;
}

.modal-body {
  margin-top: 15px;
}

.modal .close {
  float: right;
}

.modal .close:hover {
  cursor: pointer;
  opacity: 0.5;
}

/*# sourceMappingURL=style.css.map */
