.btn {
  background-color: #e1e1e1;
  border: none;
  padding: 5px 25px 5px 25px;
  border-radius: 5px;
  font-size: 80%;
  border: 1px solid #dfdfdf;
  margin: 5px;
  transition: .5s;
  @include neo;
}
.btn:hover{
  cursor: pointer;
  opacity: .8;
}

.btn:active{
  cursor: pointer;
  opacity: .2;
}

@each $key,$val in $colors-list{
  .btn-#{$key} {
    background-color: #{$val};
    color: white;
  }
}

.loading > i{
  padding: 5px 5px; /* Some padding */
  color: white;
}



// .btn-primary{
//   background-color: $primary;
//   color: white;
// }
// .btn-success{
//   background-color: $success;
//   color: white;
// }
// .btn-danger{
//   background-color: $danger;
//   color: white;
// }
// .btn-warning{
//   background-color: $warning;
//   color: white;
// }
// .btn-info{
//   background-color: $info;
//   color: white;
// }

// %layout-hover:hover{
//   cursor: pointer;
//   background-color: #c9c9c9;
//   color: white;
// }

// %layout-active:active{
//   cursor: pointer;
//   background-color: rgb(210, 210, 210);
//   color: white;
// }