.card {
  // background-color: white;
  @include neo;
  border-radius: 5px;
  padding: 9px 15px 9px 15px;
  margin-bottom: 15px;
}

.card-body {
  padding-top: 9px;
  font-size: 90%;
  padding-bottom: 5px;
}

.card-options {
  // border-top: 2px solid rgb(210, 210, 210);
  position: relative;
  bottom: 0;
  margin-top: 15px;
  padding-top: 10px;
}

