.modal{
	background-color: white;
  border-radius: 5px;
  padding: 15px;
  display: none;
}
.modal-body{
  margin-top: 15px;
}

.modal .close{
  float: right;
}
.modal .close:hover{
  cursor: pointer;
  opacity: 0.5;
}