nav {
  background-color: $navbar-primary;
  display: flex;
  @include neo;
}

.logo{
  width: 100%;
  padding-left: 1rem;
  font-size: 130%;
  color: $font-color;
}

// menu big screen
.menu{
  width: 100%;
  text-align: right;
  padding-right: 1rem;
  padding-top: 5px;
}

.menu a{
  text-decoration: none;
  padding: 0 7px 0 7px;
  font-size: 80%;
  color: $font-color;
  transition: .2s;
}

.menu a:hover{
  color: $purple;
}

// Mobile menu
.menu-mobile{
  display: none;
}
.menu-mobile i{
  color: white;
}

@media only screen and (max-width: 600px) {
  body {
    .menu {
      display: none;
    }

    .menu-mobile {
      display: block;
      margin-right: 20px;
      padding-top: 5px;
    }

    .menu-mobile:hover i{
      cursor: pointer;
      color: $purple;
    }

    .menu-mobile:active i{
      opacity: 0.8;
      transition: .1s;
    }
  }
}